<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Add a Shop</h2>
        <form method="POST">
            <div class="form-group">
                <label for="shopName">Shop Name:</label>
                <input type="text" id="shopName" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="coordinates">Coordinates:</label>
                <input type="text" id="coordinates" name="coordinates" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="username">Owner's Name:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Shop</button>
        </form>
    </div>
</body>
<footer class="bg-dark text-white mt-5 py-3">
    <div class="container text-center">
        <p>Made by <a href="https://www.michaelrbparker.com" class="text-white font-weight-bold">Micfun123 AKA Tea Drinker AKA Michael</a></p>
        <p>
            <a href="https://github.com/micfun123/CKShops" class="text-white">GitHub Repository</a>
        </p>
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="Michaelrbparker" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF5F5F" data-position="right" data-x_margin="18" data-y_margin="18"></script>

        </div>
</footer>
</html>
